<div id='main-div'>
  <div class="jumbotron">
    <div class="container" style="word-wrap: break-word; white-space: normal">
      <h1 class="display-5">Population Analyzer</h1>
      <p class="lead">Get Metropolitan Statistical Area Data by Zip Code</p>
    </div>
    <section class='row' style='margin: 0 auto;'>
      <div class='col-md-6' style='text-align: center; margin: 0 auto;'>
        <%= form_tag home_index_path, method: :post do %>
        <div class="input-group mb-3">
          <%= text_field_tag :zip, nil, placeholder: 'Enter zip code to search...', required: true, class: "form-control form-control-md"%>
          <div class="input-group-append">
            <%= submit_tag 'Search', data: { disable_with: 'Searching...' }, class: "btn btn-md btn-outline-dark" %>
          </div>
        </div>
        <% end %>
      </div>
    </section>
  </div>
  <section class='row' style='margin-top: -.5em;'>
    <div class='col-md-12'>
      <% if @error %>
        <h6 class='error'><%= @error %></h6>
      <% end %>
      <% if @result %>
        <div class='row'>
          <% @result.each do |key, value| %>
            <% unless key.include?('pop') %>
              <div class='col-md-4 col-sm-4'>
                <h5><%=key.upcase%></h5>
                <p><%=value%></p>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class='row' style='margin-left: 20px; margin-right: 20px;'>
          <%= column_chart @chart_data, { height: '100%', label: "Value", xtitle: "Year", ytitle: "Population" } %>
        </div>
      <% end %>
    </div>
  </section>
</div>
