<div id='reports-div'>
  <%= link_to 'Export Data', email_reports_path, class: 'btn btn-md btn-outline-info', style: 'margin-top: 10px; margin-right: 10px; float: right;', id: 'reports-export-btn' if @msa_avg_data %>
  <div class="container" style="word-wrap: break-word; white-space: normal; margin-top: 20px; margin-bottom: 20px;">
    <h2>Population Insights by Zip Code</h2>
    <section class='row center'>
      <div class='col-md-8' style='margin: 0 auto;'>
        <%= form_tag search_zip_reports_path, method: :post do %>
          <div class="input-group mb-3">
            <%= text_field_tag :zip_code, '', placeholder: 'Enter zip code to search...', required: true, class: "form-control form-control-md"%>
            <div class="input-group-append ">
              <%= submit_tag 'Search', data: { disable_with: 'Searching...' }, class: "btn btn-md btn-outline-dark" %>
            </div>
          </div>
        <% end %>
      </div>
      <div class='container col-md-12'>
        <% flash.each do |type, msg| %>
          <div class="<%=type%>">
            <%= msg %>
          </div>
        <% end %>
      </div>
    </section>
  </div>

  <% if @msa_avg_data.blank? %>
    <div class='container'>
      <p>No results found.</p>
    </div>
  <% else %>
    <div class='container' id='reports-div-body'>
      <div class='row'>
        <div class='col-lg-4 col-md-4 col-sm-12'>
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h4 class="card-title">Zip Code: <%=@zip_code%></h4>
              <h6 class="card-title">Area: <%=@msa_avg_data.name%></h6>
              <p class="card-text small">The following are averages for the years 2010 through 2015.</p>
              <hr>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Population Size:<h5><%=number_with_delimiter(@msa_avg_data.avg_pop)%></h5></li>
                <li class="list-group-item">Population Change:<h5><%=number_with_delimiter(@msa_avg_data.avg_pop_change_blah)%></h5></li>
                <li class="list-group-item">Births:<h5><%=number_with_delimiter(@msa_avg_data.avg_births)%></h5></li>
                <li class="list-group-item">Deaths:<h5><%=number_with_delimiter(@msa_avg_data.avg_deaths)%></h5></li>
                <li class="list-group-item">Natural Increase:<h5><%=number_with_delimiter(@msa_avg_data.avg_natural_inc)%></h5></li>
              </ul>
            </div>
          </div>
        </div>
        <div class='col-lg-8 col-md-8 col-sm-12' id='reports-natural-increase'>
        </div>
      </div>
    </div>
  <% end %>
</div>
