
<div id='reports-div'>
  <div class="container" style="word-wrap: break-word; white-space: normal; margin-top: 20px; margin-bottom: 20px;">
    <h2>Reports</h2>
     <section class='row' style='margin: 0 auto;'>
      <div class='col-md-8' style='text-align: center; margin: 0 auto;'>
        <%= form_tag search_zip_reports_path, method: :post do %>
        <div class="input-group mb-3">
          <%= text_field_tag :zip_code, nil, placeholder: 'Enter zip code to search...', required: true, class: "form-control form-control-md"%>
          <div class="input-group-append ">
            <%= submit_tag 'Search', data: { disable_with: 'Searching...' }, class: "btn btn-md btn-outline-dark" %>
          </div>
        </div>
        <% end %>
      </div>
      <div class='container col-md-6'>
        <% flash.each do |type, msg| %>
          <div class="error">
            <%= msg %>
          </div>
        <% end %>
      </div>
    </section>
  </div>

  <% if @msa_avg_data.blank? %>
    <div class='container'>
      <p>No results found.</p>
    </div>
  <% else %>
    <div class='container' id='reports-div-body'>
      <div class='row'>
        <div class='col-md-4'>
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h4 class="card-title">Zip Code: <%=@zip_code%></h4>
              <h6 class="card-title">Area: <%=@msa_avg_data.name%></h6>
              <p class="card-text small">The following are averages for the years 2010 through 2015.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><p>Population Size: </p><h5><%=number_with_delimiter(@msa_avg_data.avg_pop)%></h5></li>
              <li class="list-group-item"><p>Population Change: </p><h5><%=number_with_delimiter(@msa_avg_data.avg_pop_change_blah)%></h5></li>
              <li class="list-group-item"><p>Births: </p><h5><%=number_with_delimiter(@msa_avg_data.avg_births)%></h5></li>
              <li class="list-group-item"><p>Deaths: </p><h5><%=number_with_delimiter(@msa_avg_data.avg_deaths)%></h5></li>
              <li class="list-group-item"><p>Population Increase: </p><h5><%=number_with_delimiter(@msa_avg_data.avg_natural_inc)%></h5></li>
            </ul>
          </div>
        </div>
        <div class='col-md-8' id='reports-natural-increase'>
        </div>
      </div>
    </div>
  <% end %>
</div>
