<!DOCTYPE html>
<html>
  <head>
    <title>PopulationAnalyzer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="home-btn-div">
      <%= link_to root_url, id: 'home-btn' do %>
        <i class="fa fa-home"></i>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
